.cadcontainer{
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftbutton{
    display: flex;
    justify-content: left;
    align-items: left;
}

.rightbutton{
    display: flex;
    justify-content: right;
    align-items: right;
}