.rowC{
  display:flex;
  flex-direction:row;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border: 3px solid black;

  
}

.card2 {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border: 3px solid black;
  border-right: 0  
}

.cardinfo{
  display:flex;
  flex-direction:column;
  padding-left: 35px;
}

.img{
  height:150px;
  width:200px;
  border: 0px solid black;
  border-bottom: 3px
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.formcontainer{
  display: flex;
  flex-direction:column;
  justify-content: center;
  padding: 10px 16px;
  max-width: 500px;
  margin: auto;
  border: 3px solid rgb(6, 7, 5);
}